.main_banner_container {
  height: 100vh;
  max-width: 1920px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../../../assets/banner-imge.jpg");
}

.banner_bg_overlay_container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  color: #ffffff;
  backdrop-filter: blur(5px);
  background-color: #000000a1;
}